<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>html解析样例</title>
</head>
<body>
<form action="/tools/html_parser" method="POST" enctype="multipart/form-data">
    <table border="1px solid black" cellpadding="5px">
        <tr>
            <td colspan="2" style="text-align: center">
                html解析演示
            </td>
        </tr>
        <tr>
            <td>
                请上传需要转换的html文件
            </td>
            <td>
                 <input type="file" name="file"/>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center">
                <input type="submit" value="提交" style="width: 200px;height:30px;background-color: gray"/>
            </td>
        </tr>
    </table>


</form>
</body>
</html>